a {
    display: inline-block;
    padding: 8px 14px;
    margin: 4px 0;
    background-color: #357c8b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

a:hover {
    background-color: #4b41a7;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
